/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn { display: inline-block; font-family: Montserrat; font-weight: 300; vertical-align: middle; font-size: 24px; background-color: #7DA84A; color: #fff; text-transform: uppercase; text-align: center; cursor: pointer; text-decoration: none; appearance: none; }

/*  Button Block  */

.btn--block { display: block; padding-left: 0; padding-right: 0; }

/*  Button Home  */

.home--btn { min-width: 72px; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); padding: 22px 34px;  }

/*  Button Sidebar  */

.btn--sidebar { width: 100%; }

/*  Button Model  */

.btn--model { padding: 12px 25px; font-size: 18px; color: #7DA84A; background-color: #fff; border: 2px solid #7DA84A; }

/*  Button Filter  */

.btn--filter { padding-top: 15px; min-width: 190px; min-height: 52px; font-size: 18px; background-color: #505050; }


.btn--filter.router-link-exact-active { background-color: #7DA84A; }

/*  Button Dark  */

.btn--dark { padding: 15px 20px; font-size: 17px; background-color: #505050; }

/*  Button Green  */

.btn--green { padding: 15px 20px; font-size: 17px; }