/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */

.section { display: flex; }

.section .section__container { display: inline-block; width: 1570px; padding: 150px 0; background-color: #838588;  background-image: url(../images/temp/header.png); }

.section .section__content { display: flex; padding-top: 45px; padding-left: 20px; background-color: #fff; }
.section .section__image { position: relative; width: 4640px; }


/* ------------------------------------------------------------ *\
	Section Home
\* ------------------------------------------------------------ */

.section-home { display: flex; }

.section-home .section__container { position: relative; width: 50%; height: 1080px; }
.section-home .section__image { width: 100%; height: 100%; background-size: cover; background-position: center; background-repeat: no-repeat; opacity: .6; }

.section-home .section__content { position: absolute; width: 100%; height: 370px; top: 586px; left: 50%; transform: translateX(-50%); }

.logo { width: 276px; margin: 0 auto; }
.logo--bigger { width: 600px; }

/* ------------------------------------------------------------ *\
	section-beeton
\* ------------------------------------------------------------ */

.section-beeton {  }

.section-beeton .section__play-icon { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.section-beeton .section__play-icon:after { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #fff; opacity: .5; }

/* ------------------------------------------------------------ *\
	article
\* ------------------------------------------------------------ */

.article { min-height: 752px; padding-top: 75px; padding-left: 3px; padding-right: 108px; }

.article p { font-size: 24px; }

.article .article__title { margin-bottom: 20px; font-size: 42px; color: #7DA84A; }

/* ------------------------------------------------------------ *\
	section-models
\* ------------------------------------------------------------ */

.section-models {}

.section-models .section__container { padding-top: 0; padding-bottom: 27px; }

.section-models .section__content { padding: 84px 150px 0; }

/* ------------------------------------------------------------ *\
	section-single-model
\* ------------------------------------------------------------ */

.section-single-model .section__container { padding: 0; padding-left: 70px; padding-top: 50px; background-color: #fff; background-image: none; }

.section-single-model .section__content { padding-left: 0; }

.section-single-model .section__head { display: flex; justify-content: space-between; max-width: 1340px; }

.section-single-model .section__heade-title { font-family: Montserrat; font-weight: 700; font-size: 30px; color: #000; text-transform: uppercase; }

/* ------------------------------------------------------------ *\
	section-single-model
\* ------------------------------------------------------------ */

.section-floorplan {}

.section-floorplan .section__container { padding: 0; background-color: #fff; background-image: none; }

.section-floorplan .section__content { padding: 0; }

/* ------------------------------------------------------------ *\
	section-map
\* ------------------------------------------------------------ */

.section-map .section__container { padding: 0; padding-left: 50px; background-color: #fff; background-image: none; } 
.section-map .map__title { padding-bottom: 20px; font-size: 30px; font-weight: bold; text-transform: uppercase; }

/* ------------------------------------------------------------ *\
	section-features
\* ------------------------------------------------------------ */

.section-features .section__container { padding: 0; }

.section-features .section__content { padding-left: 40px; height: 960px; background-color: #fff; }
