/* ------------------------------------------------------------ *\
	Map
\* ------------------------------------------------------------ */

.map .map__title { padding-bottom: 20px; font-size: 30px; font-family: Montserrat; font-weight: 700; text-transform: uppercase; }